
/*

REM = tamaño de letra de elemento raiz
EM = tamaño de fuente del elemento padre
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}
.container-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-menu{
    position: sticky;
}

.content-menu{
    font-size: 1.2rem;
}


