@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,300&display=swap');
/*

REM = tamaño de letra de elemento raiz
EM = tamaño de fuente del elemento padre
*/
/* colores */
html{
    font-size: 16px;
}
:root{
    --principal:#C7231B;
    --botones:#D9534F;
    --letras:#373A3C;
    --barras:#EBEBEB;
    --letras:#EDEDED;
    --succesful:#EDEDED;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: white;
    font-family: 'Jost', sans-serif;
}

.tb-item{
    display:flex;
    flex-wrap: wrap;
    font-size: 1.1rem;
    margin:1rem;
    justify-content: space-between;
    /* justify-content: center; */
}
.container-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.itm-pay{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1rem;
    justify-content: space-between;
    margin:1rem
}

.search{
    display: flex;
    flex-wrap: wrap;
}
.search input{
    width: 15rem;
    height: 2rem;
}
.icon{
    object-fit: scale-down;
}


input[type=text], [type=search]{
    background-color:var(--barras);
    font-family: 'Jost',sans-serif;
    /* height: 2rem; */
    padding: 0.5rem;
}
button{
    background-color: var(--botones);
    font-family: 'Jost', sans-serif;
    color: var(--letras);
    height: 2rem;
    padding: 0.5rem;
}

.btn-item{
    border-radius: calc(1rem / 2);
}

.container-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid black;
    padding: 1.2rem;
}
.container-pay{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid black;
    padding:1.2rem;
}
a{
    display: inline-block;
}
/* .icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
} */